<div class="about-section">
    <h1>Dobrodošli na Rent Office, vašu pouzdanu destinaciju za kratkoročni najam ureda!</h1>
    <p>Naša misija je pružiti vam fleksibilna i moderna radna okruženja koja zadovoljavaju sve vaše poslovne potrebe. 
        Bez obzira jeste li slobodni profesionalac, mala tvrtka ili velika korporacija koja traži privremeni uredski prostor, 
        Rent Office vam nudi rješenja koja će vas inspirirati i podržati u postizanju vaših ciljeva.</p>

    <h1>Naša priča</h1>
    <p>Rent Office je osnovan s vizijom da revolucionira način na koji tvrtke doživljavaju uredski prostor. 
        Shvatili smo da se poslovni svijet brzo mijenja i da je potreba za fleksibilnim i prilagodljivim radnim prostorima sve veća. 
        Naš tim stručnjaka posvećen je stvaranju ugodnih, produktivnih i funkcionalnih ureda koji vam omogućuju da se usredotočite na ono što 
        je najvažnije – vaš posao.</p>

    <h1>Naše Usluge</h1>
    <p>Nudimo raznovrsne opcije najma ureda koje se prilagođavaju vašim specifičnim potrebama:</p>
    <ul>
        <li><span style="font-weight: bold;">Kratkoročni najam:</span> Idealan za tvrtke koje traže privremeno rješenje, bilo za nekoliko dana, tjedana ili mjeseci.</li>
        <li><span style="font-weight: bold;">Potpuno opremljeni Uredi:</span> Naši prostori su potpuno opremljeni najmodernijom tehnologijom i udobnim namještajem, spremni za vaš trenutni početak rada.</li>
        <li><span style="font-weight: bold;">Fleksibilni ugovori:</span> Razumijemo da se potrebe mogu brzo promijeniti, stoga nudimo fleksibilne ugovore koji se prilagođavaju vašem poslovanju.</li>
        <li><span style="font-weight: bold;">Podrška i dodatne usluge:</span> Naš tim je uvijek tu da vam pomogne s administrativnim poslovima, IT podrškom i drugim zahtjevima.</li>
    </ul>
</div>

<h2 style="text-align:center">Naši uredi</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://www.animaexsto.hr/slike/n2.jpg" alt="Office" style="width:100%">
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.animaexsto.hr/slike/n1.jpg" alt="Office" style="width:100%">
    </div>
  </div>
  
  <div class="column">
    <div class="card">
        <iframe style="width:100%; height: 340px" src="https://www.youtube.com/embed/IrnDcMb4xPU?si=3BBeOqAwTz3EF9o6" 
            title="YouTube office video" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>